.devPanel {
  width: 100%;
  height: calc(100vh - 100px);
  color: #ddd;
  display: flex;
  flex-flow: column;
}

.devPanel .inputPanel {
  flex: 0 1 auto;
}

.devPanel .textEntryComponent {
  width: calc(100% - 32px);
  box-sizing: border-box;
  height: 48px;
  margin: 16px;
  color: black;
  padding-left: 8px;
}

.devPanel .queryLabel {
  margin-left: 16px;
  font-size: 14px;
}

.devPanel .requestContainer {
  background: #16161d;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-top: 4px;
  flex: 0 1 auto;
  padding: 16px;
  border-radius: 5px;
  display: inline-block;
}

.devPanel .codeContainer {
  background: #16161d;
  margin: 16px;
  flex: 0 1 auto;
  padding: 16px;
  border-radius: 5px;
  display: inline-block;
  overflow: auto;
}

.devPanel .loadingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
